<breadcrumbs></breadcrumbs>
<div class="row-fluid">
    <div class="span9" >         
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company name</th>
                    <th>Contact name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers | filter: CustomerFilterText">
                    <td>{{customer.CustomerId}}</td>
                    <td>
                        <h4>
                            <a href="{{customer | customerlink: 'CustomerId'}}">{{customer.CompanyName}}</a>
                        </h4>
                    </td>
                    <td>{{customer.ContactName}}</td>
                    <td>
                        <delete-button action="removeCustomer(customer)"/>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h3>Number of customers: <ng-pluralize count = "customers.length" when="pluralizer"></ng-pluralize></h3>
    </div>
    <div class="span3">
        <aside class="well">
            <label>Filter Customers</label>
            <input type="text" ng-model="CustomerFilterText"/>
        </aside>
        <aside class="well">
            <h4>New Customer</h4>
            <p>
                <label>Customer ID</label>
                <input type="text" ng-model="customerId"/>
            </p>
            <p>
                <label>Company name</label>
                <input type="text" ng-model="companyName"/>
            </p>
            <p>
                <label>Contact name</label>
                <input type="text" ng-model="contactName"/>
            </p>
            <p>
                <save-button text="Add" action="addCustomer()"></save-button>
            </p>
            
        </aside>
    </div>
</div>
