<breadcrumbs></breadcrumbs>
<div class="row-fluid">
    <div class="span9">
        <div>
            <p>
                <label>Customer ID</label>
                <input type="text" readonly="readonly" ng-model="customer.CustomerId"/>
            </p>
            <p>
                <label>Company name</label>
                <input type="text"  ng-model="customer.CompanyName"/>
            </p>
            <p>
                <label>Contact name</label>
                <input type="text"  ng-model="customer.ContactName"/>
            </p>
            <save-button text="Save" action="saveCustomer()"></save-button>
            <delete-button text="Delete" action="deleteCustomer()"></delete-button>
        </div>
    </div>
</div>

