@model dynamic

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" ng-app="ngCustomerAdmin">
    <div class="hero-unit">
        <h1 id="header">Customers</h1>
        <p>Customer administration</p>
    </div>
    <div class="row-fluid">
        <ng-view></ng-view>
        
    </div>
</div>
<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/Scripts/angular-resource.js")"></script>
<script src="@Url.Content("~/Scripts/CustomerAdmin/customerAdmin.js")"></script>
